nbsphinx
ipykernel
tensorflow>=2.1.0
astroquery
astropy
tqdm
cython
codecov
coverage
pytest
pytest-cov
lxml
pybind11>=2.12
tornado
matplotlib
lightkurve>=2.0.0
numpy>=1.26.0,<2.0.0
scikit-learn
more-itertools
scipy!=1.4.1
poetry
